<!DOCTYPE html>
<head>
   
    <title>Site</title>
   
    {% load staticfiles %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static  'js/bootstrap.min.js' %}"></script>        


   

    <!-- STYLES -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    
    
  

    {% block extrastyle %}
    {%endblock%}
</head>
<body>
{%block conteudo%}
  
{%endblock%}


</body>